.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

.form-select {
    padding: 1rem;
    border: none;
    background-color: #eee;
    border-radius: 1rem;
    font-size: 1rem;
    width: 82%;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}



.red-button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;

}


.green-button{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
    :hover{
        transform: scale(1.04);
        background-color: #21e065;
    }

}


.orange-button{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #ff5000;
    line-height: 1.15;
    font-size: 16px;
    :hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }

}









.basic-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.basic-table th,
.basic-table td {
    border: 1px solid #dee2e6;
    padding: 10px 12px;
    text-align: left;
}

.basic-table thead {
    background-color: #f8f9fa;
    font-weight: bold;
}

.basic-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.basic-table tr:hover {
    background-color: #e9ecef;
    transition: 0.2s;
}

.basic-table th {
    background-color: #f8f9fa;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}













